body {
    background-color: #f8fafc;
}

h1, h4 {
    color: #2b2b2b;
}

table td {
    vertical-align: middle;
}

/* Efecto de eliminación suave para filas borradas */
.table-danger {
  transition: opacity 0.8s ease, transform 0.5s ease;
  opacity: 0.3;
  transform: scale(0.98);
}
/* Color diferente para boton EDITAR */
.btn-warning {
  color: #fff;
}
