{% extends 'budget/base.html' %}

{% block title %}Nueva transacción - BudgetBuddy{% endblock %}

{% block content %}
    <div class="card shadow-sm p-4">
        <h4 class="mb-3">💰 Nueva Transacción</h4>

        <form method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary mt-3">Guardar</button>
            <a href="/" class="btn btn-secondary mt-3 ms-2">Cancelar</a>
        </form>
    </div>
{% endblock %}
